* {
    margin: 0;
    padding: 0;
}
.box{
    border: 1px solid red;
    display: inline-block;
    padding: 40px;
    margin: 20px;
    width: 200px;

}
.box1 {
    border: 1px solid red;
    display: inline-block;
    padding: 40px;
    margin: 20px;
    width: 200px;
    display: inline-flex;
    justify-content: center;

    
}
