*{
    margin: 0;
    padding: 0;
}

.box{
    background-color: aqua;
    color: blueviolet;
    /* font-size: 50px; */
}
.box1{
    color: red;
    padding: 10px;
    margin: 25px;
    border: 2px solid black;
    height: 200px;
    box-sizing: border-box;
}
.box2{
    padding: 10px;
    margin: 25px;
    border: 2px solid black;
    height: 200px;
    box-sizing: border-box;
}