* {
    margin: 0;
    padding: 0;
}
.box{
    border: 1px solid red;
    display: inline-block;
    padding: 40px;
    margin: 20px;
    width: 200px;
    box-shadow: 10px 10px 8px #888888;
    text-shadow: 10px 10px 8px #888888;
    outline: 2px solid green;
    border-radius: 40px;
    outline-offset:12px ;

}
.box1 {
    border: 1px solid red;
    display: inline-block;
    padding: 40px;
    margin: 20px;
    width: 200px;
    display: inline-flex;
    justify-content: center;

    
}
