:root{
    --box1:rgb(0, 255, 76);
    --box2:rgb(231, 46, 154);
    --box3:rgb(214, 218, 17);
}


body {
    
}

.parent {
   color: rgb(63, 17, 17);
   
}
.boxes {
    display: flex;
}
.box {
    width: 344px;
    height: 344px;
    margin: 5px;
}
.box1{
    background-color: var(--box1);
}
.box2{
    background-color: var(--box2);
}
.box3{
    background-color: var(--box3);
}


