.container {
    width: 38vw;
    height: 40vh;
    background-color: gray;
}
.box {
    width: 70px;
    height: 40px;
    background-color: red;
    /* animation-name: nelaAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: reverse;
    animation-play-state: paused; */
    animation: nelaAnimation 3s ease-out 1s infinite  reverse,
                nelaAnimation2 3s ease-out 1s infinite;    
}

@keyframes nelaAnimation {
    from{
       
    }
    to {
       
        transform: translateX(1000px);
    }

}
@keyframes nelaAnimation2 {
    0%{
        transform: rotate(45deg);
    }
    20%{
        transform: rotate(100deg);
    }
    50%{
        transform: rotate(300deg);
    }
    80%{
        transform: rotate(400deg);
    }
    100%{
        transform: rotate(400deg);
    }
    
}