


body {
    background-color: red;
}

.parent {
   color: white;
   
}
.boxes {
    display: flex;
}
.box {
    background-color: aqua;
    width: 344px;
    height: 344px;
    margin: 5px;
}
@media screen and (orientation: landscape) {
 body{
        border: 4px solid rgb(230, 36, 181);       
    }
}
@media only screen and (max-width: 600px) {
    body{
        background-color: blue;       
    }
    .boxes {
        flex-direction: column;
    }
}

