.cards {
    border: 2px solid red;
    display: flow-root;
}
.card:nth-child(3){
    background-color: aquamarine;
    clear: both;
}
.card {
    border: 1px solid rgb(236, 24, 226);
}
img{
   float: left;
}


