body{
    background-color: gray;
    padding: 80px;
    display: flex;
}
.card{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

.card-img {
    padding: 10px;
}
.card-img img{
    border-radius: 20px;
}
.card-content {
    padding: 15px;
}
.card-content p{
    font-size: 18px;
    color: gray;
}
.capsuls span {
    border: 1px solid black;
    padding: 8px;
    border-radius: 30px;
}

.card-button {
    text-align: center;
    padding: 20px;
}
.card-button button {
    width: 7vw;
    height: 50px;
    padding: 12px;
    border-radius: 30px;
    background-color: skyblue;
    font-size: 15px;
    font-weight: 500;
    color: blue;
    cursor: pointer;
    transition: .3s;
}
.card-button button:hover {
    background-color: aqua;
    color: red;
}