.container {
    height: 430px;
    display: flex;
    padding: 20px;
    border: 2px solid red;
     /* justify-content: space-around; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
    
    /* flex-flow: row-reverse; */
    /* flex-flow: column; */
     gap: 20px 10px;
    /* row-gap: 20px; */
    /* column-gap: 10px; */
    /* flex-shrink: 2; */
}
.item {
    /* flex-grow: 1; */
    width: 110px;
    height: 110px;
    background: blue;
    /* align-self: flex-end; */
    /* margin: 4px; */
}
.item {
    /* flex-grow: 2; */
}