*{
    margin: 0;
    padding: 0;
}
header {
    position: sticky;
    top: 0;

}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.logo img {
    width: 180px;
}
.right ul {
    display: flex;
    gap: 35px;
    cursor: pointer;
}
.right ul li {
    list-style: none;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin: 70px;
}
.content h1 {
    font-size: 40px;
    font-family: sans-serif;
}
.content p {
    font-size: 18px;
    width: 40vw;
    text-align: center;
    color: gray;
    font-family: sans-serif;
}
.btn {
    padding: 15px;
    background-color: #1cc9dbeb;
    color: white;
    border-radius: 10px;
    border:none;
    font-weight: 700;
    font-family: sans-serif;
    cursor: pointer;
}
.btn a {
    text-decoration: none;
    color: white;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


section.grid-content {
   max-width: 50vw;
   margin: auto;
}
.item {
    background-color: #d4cfff4f;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.item-lang {
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 30px;
}
button.btn.blue {
    background-color: #1cc9dbeb;
    color: white;
    padding: 13px;
    margin: 12px 0;
}
button.btn.green {
    background-color: #1cb922;
    color: white;
    padding: 13px;
    margin: 12px 0;
}


@media screen and (max-width:1200px) {
    .grid {
        grid-template-columns: 1fr;
    }
}